*.iml
/BasicUserRegistration/.gradle
/BasicUserRegistration/local.properties
/BasicUserRegistration/.idea
/BasicUserRegistration/.DS_Store
/BasicUserRegistration/build
/BasicUserRegistration/captures
/BasicUserRegistration.externalNativeBuild
